.pay {
  background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*5lyavS59mazOFnb55Z6znQ.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .payContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .payBox {
      width: 250px;
      padding: 10px;
      border-radius: 15px;
      cursor: pointer;
      background: white;
      box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
      .popular{
        background: blue;
        text-align: center;
        font-weight: 600;
        border-radius: 15px;
        color: white;
      }
      .payHeader {
        height: 70px;
        background: purple;
        padding: 10px;
        border-radius: 9px;
        position: relative;
        p {
          color: white;
          font-weight: 800;
        }
        .payChecker {
          position: absolute;
          right: 5px;
          bottom: 10px;
          color: white;
        }
      }
      .payPrice {
        margin: 15px 0;
        .payPriceHeader {
          color: rgb(143, 142, 142);
          font-weight: 500;
        }
        .payPriceValue {
          color: rgb(82, 82, 82);
          font-size: 1rem;
          font-weight: 700;
          margin: 5px 0;
        }
      }
    }
  }
  .payBtn {
    outline: none;
    border: none;
    background: red;
    width: 280px;
    height: 50px;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 30px;
  }
  .payBtn:disabled{
    background: gray;
    color: rgb(178, 176, 176);
    cursor: not-allowed;
  }
}
